.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.table, .table-head, .table-data {
  border: 1px solid black;
  padding: 1rem;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table-head, .table-data {
    text-align: left;
}

.table-head {
    background-color: #ffaf40;
}