@use "../../../styles/layout.scss";
@use "../../../styles/color.scss";

.account-menu {
    list-style: none;
    margin: 0;
    @include layout.flex-column;
    justify-content: space-between;

    &__item {
        padding: 15px;
        cursor: pointer;
        
        &:hover {
            background-color: color.$primary-color;
            color: color.$white-fff;
        }
    }
}