@use '../../styles/layout.scss';
@use '../../styles/responsive.scss';
@use '../../styles/color.scss';

.layout-container {
    padding-top: 90px;
    height: 100%;
    @include responsive.multipleMedia(false, tablet) {
        z-index: 1;
    }
}