@use "../../styles/layout.scss";
@use "../../styles/color.scss";
@use "../../styles/responsive.scss";

.header {
    @include responsive.multipleMedia(false, mobile) {
        display: none;
    }
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 60px;
    background-color: color.$white-fff;

    .header-container {
        padding: 0 15px;
        height: 100%;
        z-index: 2;

        &__item {
            display: flex;
            align-items: center;

            &:nth-child(2) {
                justify-content: end;
            }

            &:last-child {
                justify-content: flex-end;
            }

            &:first-child {
                justify-self: flex-start;
            }

            .header-category {
                width: 100%;
                text-align: center;

                &__item {
                    font-size: 13px;
                    padding: 0;
                    @include responsive.desktop {
                        font-size: 14px;
                    }
                    @include responsive.super-desktop {
                        font-size: 16px;
                    }
                    color: #000;
                    font-weight: 600;
                    white-space: nowrap;
                }
            }
        }
    }

    &__tape {
        background-color: color.$primary-color;
        height: 60rem;
        @include responsive.multipleMedia(false, extra-large) {
            height: 45rem;
        }
        @include responsive.multipleMedia(false, desktop) {
            height: 40rem;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 22vw;
        z-index: 1;
    }
}
