@use '../../styles/layout.scss';
@use '../../styles/color.scss';
@use '../../styles/responsive.scss';

.header-container {
    color: #fff;
    contain: layout;
    height: 60px;
    @include layout.flex-align-center;
    @include responsive.desktop {
        padding: 0 8rem 0 6.5rem;
        font-size: 18px;
    }
    @include responsive.medium-tablet {
        padding: 0 4rem 0 2.5rem;
        font-size: 16px;
    }
    @include responsive.small-tablet {
        padding: 0 4rem 0 2.5rem;
        font-size: 16px;
    }
    @include responsive.mobile {
        padding: 0 2rem 0 0.5rem;
        font-size: 14px;
    }
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: rgba($color: #000000, $alpha: 0.85);
    width: 100%;
    z-index: 250;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    &__logo {
        width: fit-content;
        display: inline-block;
        height: 100%;

        &--image {
            z-index: 99;
            @include responsive.desktop {
                width: 150px;
            }
            @include responsive.mobile {
                width: 60px;
            }
            @include responsive.small-tablet {
                width: 120px;
            }
        }
    }

    &__menu {
        height: 100%;
        width: 100%;

        @include layout.flex-align-center;
        @include layout.flex-between;
        
        @include responsive.desktop {
            margin-left: 80px;
        }
        @include responsive.medium-tablet {
            margin-left: 40px;
        }
        @include responsive.small-tablet {
            margin-left: 0px;
        }
        @include responsive.mobile {
            margin-left: 0px;
        }

        .header-nav {
            width: 100%;
            height: 100%;
            @include layout.flex-align-center;
            @include layout.flex-between;

            &__section {
                @include layout.flex-align-center;

                &--item {
                    @include layout.flex-align-center;
                    @include layout.flex-center;
                }

                &--item-cart {
                    padding-left: 40px;
                }

                &--nav-btn {
                    @include responsive.desktop {
                        display: none;
                    }
                    
                    @include responsive.medium-tablet {
                        display: none;
                    }
                }
            }

            &__grid {
                @include responsive.desktop {
                    @include layout.flex-align-center;
                    @include layout.flex-between;
                    width: 20%;
                }
                
                @include responsive.medium-tablet {
                    @include layout.flex-align-center;
                    @include layout.flex-between;
                    width: 50%;
                }
                @include responsive.small-tablet {
                    display: grid;
                    grid-template-columns: repeat(4, auto);
                    width: 100%;
                }

                @include responsive.mobile {
                    display: grid;
                    grid-template-columns: repeat(4, auto);
                    width: 100%;
                }
            }

            &__hide {
                @include responsive.desktop {
                    @include layout.flex-align-center;
                    justify-content: flex-end;
                }
                
                @include responsive.medium-tablet {
                    @include layout.flex-align-center;
                    justify-content: flex-end;
                }

                @include responsive.small-tablet {
                    display: none;
                }

                @include responsive.mobile {
                    display: none;
                }
            }

            &__feature {
                flex-grow: 1;
            }
        }
    }
}

.header-sub-nav {
    @include responsive.desktop {
        display: none;
    }
    
    @include responsive.medium-tablet {
        display: none;
    }
    position: fixed;
    @include layout.flex-column;
    top: 60px;
    background-color: #fff;
    width: 100%;
    z-index: 200;
    @include layout.flex-align-center;
    padding: 1rem 2.5rem;
}

.header-padding-item {
    @include responsive.desktop {
        padding: 0 40px;
    }
    
    @include responsive.medium-tablet {
        padding: 0 40px;
    }
}

.paddingTopBot10 {
    padding: 10px 0px;
}
// .anim-slide-in {
//     -webkit-animation: slide-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
//     animation: slide-in-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
// }

// .anim-slide-out {
//     -webkit-animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
//     animation: slide-out-top 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
// }

// @-webkit-keyframes slide-in-top {
//     0% {
//         -webkit-transform: translateY(-1000px);
//         transform: translateY(-1000px);
//         opacity: 0;
//     }
//     100% {
//         -webkit-transform: translateY(0);
//         transform: translateY(0);
//         opacity: 1;
//     }
// }
// @keyframes slide-in-top {
//     0% {
//         -webkit-transform: translateY(-1000px);
//         transform: translateY(-1000px);
//         opacity: 0;
//     }
//     100% {
//         -webkit-transform: translateY(0);
//         transform: translateY(0);
//         opacity: 1;
//     }
// }

// @-webkit-keyframes slide-out-top {
//     0% {
//         -webkit-transform: translateY(0);
//         transform: translateY(0);
//         opacity: 1;
//     }
//     100% {
//         -webkit-transform: translateY(-1000px);
//         transform: translateY(-1000px);
//         opacity: 0;
//     }
// }
// @keyframes slide-out-top {
//     0% {
//         -webkit-transform: translateY(0);
//         transform: translateY(0);
//         opacity: 1;
//     }
//     100% {
//         -webkit-transform: translateY(-1000px);
//         transform: translateY(-1000px);
//         opacity: 0;
//     }
// }

