@use "../../../styles/layout.scss";
@use "../../../styles/color.scss";
@use "../../../styles/responsive.scss";

.cart {
    width: 100%;
}
.cart-col {
    text-align:end;
    @include responsive.super-desktop {
        margin: 0 10px;
    }
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__search {
        &:hover {
            background-color: #000;
        }
        cursor: pointer;
        border: none;
        background: color.$primary-color;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        &--icon {
            font-weight: 700;
            color: #fff;
            font-size: 14px;
            
        }
    }

    &__text {
        white-space: nowrap;
        margin-left: 5px;
        margin-bottom: 0;
        display: inline-block;
    }
}

.cart-popup {
    position: absolute;
    z-index: 999999999999;
    min-width: 260px;
    width: 320px;
    padding: 20px;
    max-height: 434px;
    line-height: 1.4em;
    right: 0;
    top: 40px;
    list-style-type: none;
    color: #777;
    margin: 10px 0 auto;
    border: 0;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    background: #fff;
    font-size: 12px;
    box-shadow: 0 3px 21px rgb(0 0 0 / 10%);
}

.cart-menu-total, .cart-menu-item, .cart-menu-actions {
    overflow: hidden;
    padding: 10px 0;
    @include layout.flex-row;
    @include layout.flex-align-center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    justify-content: space-between;
}

.cart-menu-item {
    &:first-child {
        padding-top: 0;
    }

    &__img {
        width: 70px;
        height: 70px;
    }

    &__content {
        @include layout.flex-column;
        justify-content: center;
        padding-left: 20px;
        flex-grow: 1;
        font-size: 12px;

        p {
            margin-bottom: 0;
        }

        &--qty {
            line-height: 1.5em;

            span {
                font-size: 10px;
            }
        }

        &--price {
            color: #000;
            font-weight: bold;
            font-size: 14px;
            margin-left: 6px;
        }

        &--actions {
            width: 100%;
            @include layout.flex-row;
            justify-content: space-between;
        }

        &--delete {
            background: transparent;
            padding: 0;
            cursor: pointer;
        }

        &--icon {
            font-weight: 700;
            font-size: 12px;
        }
    }
}

.cart-menu-total {
    p {
        margin-bottom: 0;
    }

    &__value {
        color: #000;
        font-weight: bold;
        font-size: 14px;
        margin-left: 6px;
    }
}

.cart-menu-actions {
    border-bottom: none;
    padding-bottom: 0;
}